
body{
margin:0;
font-family:sans-serif;
background:#313338;
color:white;
}

#layout{
display:flex;
height:100vh;
}

#serverList{
width:72px;
background:#1e1f22;
}

#sidebar{
width:240px;
background:#2b2d31;
display:flex;
flex-direction:column;
}

#chat{
flex:1;
display:flex;
flex-direction:column;
}

#messages{
flex:1;
overflow:auto;
padding:10px;
}

#inputBar{
display:flex;
padding:10px;
background:#383a40;
}

#memberList{
width:220px;
background:#2b2d31;
}
